nav ul {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	padding: 1rem 2rem;
	background-color: rgb(185, 71, 71);
}
body {
	font-family: 'Segoe UI', Arial, sans-serif;
	background-color: #93b2ff;
	color: #00c458;
}
.gallery {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne */
    gap: 1rem;
}

.card {
    flex-basis: 300px; /* Taille de base */
    flex-grow: 1; /* Les cartes grandissent pour remplir l'espace */
    background-color: rgb(37, 96, 151);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
		align-items: flex-start;
	}
}
